version: "3.9"
services:
  neo4j:
    image: "neo4j:5.20"
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - data:/data
      - plugins:/var/lib/neo4j/plugins
    environment:
      - NEO4J_AUTH=${NEO4J_AUTH:-none}
      - NEO4J_server_memory_heap_initial__size=5000m
      - NEO4J_server_memory_heap_max__size=5000m
      - NEO4J_server_memory_pagecache_size=6600m
      - NEO4J_PLUGINS=["apoc"]
    restart: always
    healthcheck:
      test: wget http://localhost:7474 || exit 1
      interval: 1s
      timeout: 10s
      retries: 20
      start_period: 3s

volumes:
  plugins:
  data:


